<!DOCTYPE html>
<html>
  <head>
    <title> <%= @page_title %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>"/>

    <%= stylesheet_link_tag    'projects', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render "shared/nav", location: "top" %>

      <section class="login">
         <%= login_helper %>
       </section> 

      <h1>DevPortfolio</h1>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </header>



    <%= yield %>



    <%= source_helper("Portfilio") %>
  </body>
</html>
